body{
    background-color: #5FCBBD;
}
header{
    display: flex;
    text-align: left;
    width: 100%;
    

}
.logo-cabecalho{
    position: absolute;
    display: block;
}
.logo-cabecalho:hover{
    transition: ease-in-out 1s;
    transform:rotate(80°);
      
}
menu{
    background-color: #6DD1E8;
    border: 1px #6DD1E8;
    box-shadow: 1px 1px black;
}